* {
    margin: 0;
    padding: 0;
    /* background-color: blue */
}


/* .container {
    width: 100vw;
    height: 100vh;
} */

.row_tab {
    display: flex;
    flex-direction: column;
}

.row_tab .btn {
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.row_tab .btn:hover {
    color: #fff;
    background-color: #191f3a;
}

.row {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.row .card {
    margin-right: 50px;
    margin-bottom: 20px;
    /* border: 1px black solid; */
    /* margin-left: 50px; */
}

.row_tab {
    display: flex;
    /* flex-direction: column; */
    /* border-bottom: 1px solid black; */
    /* background-color: aqua; */
    align-items: center;
    justify-content: center;
}


/* .table {
    background-color: aqua;
    border: 1px solid black;
} */

table thead tr th {
    border-bottom: 1px solid #000000;
    padding: 15px;
}

table tbody tr td {
    margin: 10px;
    padding: 15px;
    /* border-bottom: 1px solid black; */
}

.card .textr {
    border-bottom: #3ca2be solid 3px;
    background-color: #42a6c3;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}


/* .textg {
    background-color: #6BB8F4;
} */

.textg {
    background-color: #d03c36;
    border-bottom: #b1362f solid 3px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 40px;
    padding-bottom: 40px;
    /* margin-bottom: 20px; */
}

.textgg {
    background-color: #d03c36;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.text {
    background-color: #42abcb;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.start {
    display: flex;
    text-align: center;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.start img {
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

.table {
    border-collapse: collapse;
    margin: 15 0;
    min-width: 90vw;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
    background-color: #009879;
    color: #ffffff;
    /* text-align: left; */
}

.table tbody tr {
    border-bottom: 1px solid #dddddddd;
}

.table th,
.table td {
    padding: 15px 15px;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: #009879 2px solid;
}


/* tr {
    background-color: green;
} */