{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="/static/css/login.css">

<div class="container">
    <div class="img">
        <img src="/static/imgs/2.webp" alt="">
    </div>
    <div class="login">
        <div class="logincont">
            <img src="/static/imgs/login.png" alt="" style="width: 120px; height: 120px;">
            <h4>welcome to admin dashboard</h4>
            <h1>log into your Account</h1>
            <br/>
            <p>
                {% if messages %} {% for message in messages %} {{ message }} {% endfor %} {% endif %}
            </p>
            <form action="" method=POST>
                {% csrf_token %}

                <form>
                    <div class=form_cont>
                        <label for="exampleInputEmail1" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
                    </div>
                    <div class="form_cont">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <input type="submit" value="Log In" class="btn">
                    <a class="btn" href="{% url 'home' %}">Return to home page</a>
                </form>
        </div>
    </div>

</div>

{% endblock %}