<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/eror.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <title>Something is wrong</title>
</head>

<body>
    <div class="e404">
        <div class="inner">
            <h2>Something goes wrong</h2>
            <p> wait a moment and try again or presse the button bellow to go back to home page</p>
            <div class="flex">
                <div class="box1">
                    <a href="{% url 'home' %}">go back to home page</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>